
*{font-family: "DMSans";}
html, body { height: 100%;}
body { margin: 0; background-color: #38b0eb}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 420px;
}

.d-flex{
    display: flex !important;
}

.p-5{
    padding: 5px !important;
}

.m-5{
    margin: 5px !important;
}

.text-center{
    text-align: center;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.round-border {
    border-radius: 25px;
}

.login-container {
	align-items: center;
	background-color: var(--white);
	background: #38b0eb;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.mdc-snackbar {
    white-space: pre-wrap
  }

